@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Ojas Photo Styling*/
#ojasphoto {
  border-radius: 50%;
  height: auto;
  width: 350px;
  display: block;
  margin-left: 150px;
  margin-right: 50px;
  float: left;
  padding: 60px;
  padding-left: -50px;
}

body {
  /*background-color: #aaf0d1;*/
  background-image: url('https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/61647101bb9a7143ad07e75b_instagram%20link%20in%20bio%20tools-p-1600.jpeg');
}

/*Text Styling*/
#maintext {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  opacity: 0.7;
  text-align: center;
  padding: 95px;
  padding-left: 500px;
}
#p1 {
  font-size: 70px;
  margin: 0em;
  line-height: 0.98;
}
#p2 {
  font-size: 30px;
  margin: -0.3em;
}


/*Navigation Bar Styling*/
#navbar{
  opacity:0.9;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  box-sizing: border-box;
  margin_ 0;
  padding: 0;
  background-color: #24252A}

button{
  /*background-color: #24252A;*/
}
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%; 
}

#homebar{
  cursor: pointer;
}

.nav_links{
  list-style:none;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color: #04aa6d;
}
button{
  padding: 9px 25px;
  background-color: #04aa6d;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  
}
button: hover{
  background-color: #04aa6d;
}